
#player {
    background-color: green;
    color:white;
    height: 50px;
    text-align: center;
    vertical-align: center;
}

#dragon {
    background-color: rebeccapurple;
    color:white;
    height: 50px;
    text-align: center;
}

#count_down_timer {
    font-weight: bold;
    font-size: 25px;
}

#game_result {
    font-weight: bold;
    color:red;
    font-size: 16px;
}

.box{
    border: 3px solid transparent;
    background-clip:padding-box;
}

#commentary_box {
    max-height: 200px;
    overflow-y: scroll;
    background-color: grey;
    color:white;
    border: 1px solid grey;
}
